@use "/src/variables" as *;

.button {
  background-color: #00aeed;
  border: 0;
  padding: 0.5rem 1rem;
  font-weight: 500;

  &:hover {
    // rgb(51, 51, 51)
    background-color: #337ab7;
    color: #fff;
    transition: all 0.2s;
  }
}

.login {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid $grey1;
  font-size: 1.25rem;
  font-weight: 500;
}

.active {
  background-color: $light-blue;
  color: $white;
}
