@use "/src/variables" as *;

.section5 {
  padding: 4rem 0;
  background-color: $secondary;
  color: $white;

  & > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    & img {
      border: 2px solid $white;
      border-radius: 50%;
      padding: 1rem;
    }

    & > p {
      color: $light-blue;
      & > span:nth-child(2) {
        color: $white;
      }
    }

    & > div {
      margin: 1rem 0;
    }

    & ul {
      list-style: none;
      display: flex;
      gap: 2rem;

      & a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}
