$primary: #f1faff;
$secondary: rgba(0, 50, 89, 0.84);
$white: #fff;
$black: #000;
$grey: rgb(51, 51, 51);
$grey1: #eee;
$light-blue: rgb(2, 178, 237);
$dark-blue: #003259;

@font-face {
  font-family: "CustomFont";
  src: url("/public/fonts/Hacen-Algeria-Bd.ttf") format("truetype");
}

$basefont: "CustomFont", sans-serif !important;
